.DS_Store
Heidi.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Heidi.xcodeproj/project.xcworkspace/xcuserdata/thomas.xcuserdatad/UserInterfaceState.xcuserstate
Heidi.xcodeproj/xcuserdata/thomas.xcuserdatad/xcschemes/Heidi.xcscheme
Heidi.xcodeproj/xcuserdata/thomas.xcuserdatad/xcschemes/xcschememanagement.plist
Heidi/en.lproj/Credits.rtf
heidi.psd